body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: #999999;
  background: #1f1f1f;
  line-height: 1.7;
  overflow-x: hidden;
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
section {
  padding: 20px;
}
.left .photo img {
  width: 250px;
  border-radius: 100%;
}
main {
  display: flex;
}
.info {
  position: fixed;
}
.content {
  margin-left: 300px;
}
